<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Counter</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="counter">
      {{value}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="generateDecrement()">-1</button>
    <button mat-raised-button color="primary" (click)="generateIncrement()">+1</button>
    <button mat-raised-button color="primary" (click)="generateReset()">R</button>
  </mat-card-actions>
</mat-card>
